{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div id="home-content">
        <section id="home-header">
            <div id="main-header-container">
                <h1>Welcome to the Home Page</h1>
                <p>This is the home page of my FastAPI Car Insurance application</p>
                <p>In this application I use the following technologies:</p>
                <ol>
                    <li>FastAPI</li>
                    <li>MSSql Server</li>
                    <li>Jinja2</li>
                    <li>HTML/CSS/JavaScript</li>
                </ol>
            </div>
        </section>
        <section id="login-section">
            <div id="main-login-container">
                <form id="form-login" method="post">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <button type="submit">Log In</button>
                </form>
                <span id="form-login-error-msg"></span>
                <div class="register-link-container">
                    <a href="#" id="show-register-link">Don't have an account? Register</a>
                </div>
            </div>
        </section>
    </div>
    <!-- Registration form for popup (hidden, will be injected into popup-body) -->
    <template id="register-form-template">
        <form id="form-register">
            <input type="text" id="register-username" name="username" placeholder="Username" required autocapitalize="off" autocomplete="username">
            <input type="password" id="register-password" name="password" placeholder="Password" required>
            <input type="password" id="register-password2" name="password2" placeholder="Confirm Password" required>
            <input type="email" id="register-email" name="email" placeholder="Email" required>
            <label class="register-admin-label">
                <input type="checkbox" id="register-is-admin" name="is_admin" value="1"> Register as admin
            </label>
            <button type="submit">Register</button>
        </form>
        <span id="form-register-error-msg"></span>
    </template>
{% endblock %}

{% block scripts %}
    <script src="/app/static/js/index.js"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/app/static/css/index.css">
{% endblock %}